# File Input/Output

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [3]:
# Read a comma-separated values ComputerSales file into DataFrame
cs_df = pd.read_csv('data/ComputerSales.csv')
cs_df

,Sale ID,Contact,Sex,Age,State,Product ID,Product Type,Sale Price,Profit,Lead,Month,Year
0,1,Paul Thomas,M,43,OH,M01-F0024,Desktop,479.99,143.39,Website,January,2018
1,2,Margo Simms,F,37,WV,GT13-0024,Desktop,1249.99,230.89,Flyer 4,January,2018
2,3,Sam Stine,M,26,PA,I3670,Desktop,649.99,118.64,Website,February,2018
3,4,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,March,2018
4,5,Jessica Elk,F,55,PA,15M-ED,Laptop,699.99,98.09,Flyer 4,March,2018
5,6,Sally Struthers,F,45,PA,GT13-0024,Desktop,1249.99,230.89,Flyer 2,April,2018
6,7,Michelle Samms,F,46,OH,GA401IV,Laptop,1349.99,180.34,Email,May,2018
7,8,Mick Roberts,M,23,OH,MY2J2LL,Tablet,999.99,146.69,Website,July,2018
8,9,Ed Klondike,M,52,OH,81TC00,Laptop,649.99,122.34,Email,July,2018
9,10,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,August,2018
10,11,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 3,November,2018
11,12,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,November,2018
12,13,Jason Case,M,57,PA,81TC00,Laptop,649.99,122.34,Email,November,2018
13,14,Doug Johnson,M,51,PA,I3670,Desktop,649.99,118.64,Website,December,2018
14,15,Andy Sands,M,56,OH,MY2J2LL,Tablet,999.99,146.69,Flyer 1,December,2018
15,16,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,January,2019
16,17,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,February,2019
17,18,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,March,2019
18,19,Mick Roberts,M,23,PA,I3593,Laptop,399.99,72.09,Flyer 4,March,2019
19,20,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2019
20,21,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,May,2019
21,22,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,August,2019
22,23,Paul Thomas,M,43,OH,81TC00,Laptop,649.99,122.34,Website,August,2019
23,24,Margo Simms,F,37,WV,Q526FA,Laptop,1049.99,143.09,Flyer 4,November,2019
24,25,Michelle Samms,F,46,NY,I3670,Desktop,649.99,118.64,Flyer 2,November,2019
25,26,Mick Roberts,M,23,PA,Q526FA,Laptop,1049.99,143.09,Email,November,2019
26,27,Ed Klondike,M,52,OH,Q526FA,Laptop,1049.99,143.09,Website,December,2019
27,28,Moe Eggert,M,35,PA,15M-ED,Laptop,699.99,98.09,Email,December,2019
28,29,Jessica Elk,F,55,PA,GA401IV,Laptop,1349.99,180.34,Flyer 2,December,2019
29,30,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,January,2020
30,31,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 1,January,2020
31,32,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,February,2020
32,33,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,March,2020
33,34,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,March,2020
34,35,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,April,2020
35,36,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2020
36,37,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,April,2020
37,38,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,May,2020
38,39,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,May,2020

In [2]:
# Write DataFrame object to a backup comma-separated values file
cs_df.to_csv('data/ComputerSales_backup1.csv')

In [3]:
# Read an Excel file 'Financial Sample.xlsx' into a DataFrame
pd.read_excel('data/Financial Sample.xlsx', 0)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [4]:
# Same csv file as excel backup
cs_df.to_excel('data/ComputerSales_backup2.xlsx')

In [13]:
#
try:
    engine = create_engine('mysql+pymysql://root:2710490l@localhost/classicmodels')
    db_connection = engine.connect()
    emps_df = pd.read_sql('SELECT * FROM employees', con=db_connection)
    print(emps_df)
except Exception as e:
    print("Exception: {}".format(e))
finally:
    db_connection.close()

    employeeNumber   lastName firstName extension  \
0             1002     Murphy     Diane     x5800
1             1056     Farrel      Mary     x4611
2             1076     Farrel      Jeff     x9273
3             1088  Patterson   William     x4871
4             1102     Bondur    Gerard     x5408
5             1143        Bow   Anthony     x5428
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
8             1188   Firrelli     Julie     x2173
9             1216  Patterson     Steve     x4334
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
12            1337     Bondur      Loui     x6493
13            1370  Hernandez    Gerard     x2028
14            1401   Castillo    Pamela     x2759
15            1501       Bott     Larry     x2311
16            1504      Jones     Barry      x102
17            1611     Fixter      Andy      x101
18            1612      Marsh     Peter      x102
19            1619       King       Tom      x103
20            1621      Nishi      Mami      x101
21            1625       Kato   Yoshimi      x102
22            1702     Gerard    Martin     x2312

                              email officeCode  reportsTo  \
0      dmurphy@classicmodelcars.com          1        NaN
1    mpatterso@classicmodelcars.com          1     1002.0
2    jfirrelli@classicmodelcars.com          1     1002.0
3   wpatterson@classicmodelcars.com          6     1056.0
4      gbondur@classicmodelcars.com          4     1056.0
5         abow@classicmodelcars.com          1     1056.0
6    ljennings@classicmodelcars.com          1     1143.0
7    lthompson@classicmodelcars.com          1     1143.0
8    jfirrelli@classicmodelcars.com          2     1143.0
9   spatterson@classicmodelcars.com          2     1143.0
10      ftseng@classicmodelcars.com          3     1143.0
11     gvanauf@classicmodelcars.com          3     1143.0
12     lbondur@classicmodelcars.com          4     1102.0
13   ghernande@classicmodelcars.com          4     1102.0
14   pcastillo@classicmodelcars.com          4     1102.0
15       lbott@classicmodelcars.com          7     1102.0
16      bjones@classicmodelcars.com          7     1102.0
17     afixter@classicmodelcars.com          6     1088.0
18      pmarsh@classicmodelcars.com          6     1088.0
19       tking@classicmodelcars.com          6     1088.0
20      mnishi@classicmodelcars.com          5     1056.0
21       ykato@classicmodelcars.com          5     1621.0
22     mgerard@classicmodelcars.com          4     1102.0

                jobTitle
0              President
1               VP Sales
2           VP Marketing
3   Sales Manager (APAC)
4    Sale Manager (EMEA)
5     Sales Manager (NA)
6              Sales Rep
7              Sales Rep
8              Sales Rep
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             Sales Rep
16             Sales Rep
17             Sales Rep
18             Sales Rep
19             Sales Rep
20             Sales Rep
21             Sales Rep
22             Sales Rep

In [10]:
# Update DB row
try:
    engine = create_engine('mysql+pymysql://root:2710490l@localhost/classicmodels')
    db_connection = engine.connect()
    updt_stmt = "UPDATE employees SET lastName='Farrel' WHERE employeeNumber = 1076"
    db_connection.execute(updt_stmt)
    emps_df = pd.read_sql('SELECT * FROM employees', con=db_connection)
    print(emps_df)
except Exception as e:
    print("Exception: {}".format(e))
finally:
    db_connection.close()

    employeeNumber   lastName firstName extension  \
0             1002     Murphy     Diane     x5800
1             1056     Farrel      Mary     x4611
2             1076     Farrel      Jeff     x9273
3             1088  Patterson   William     x4871
4             1102     Bondur    Gerard     x5408
5             1143        Bow   Anthony     x5428
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
8             1188   Firrelli     Julie     x2173
9             1216  Patterson     Steve     x4334
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
12            1337     Bondur      Loui     x6493
13            1370  Hernandez    Gerard     x2028
14            1401   Castillo    Pamela     x2759
15            1501       Bott     Larry     x2311
16            1504      Jones     Barry      x102
17            1611     Fixter      Andy      x101
18            1612      Marsh     Peter      x102
19            1619       King       Tom      x103
20            1621      Nishi      Mami      x101
21            1625       Kato   Yoshimi      x102
22            1702     Gerard    Martin     x2312

                              email officeCode  reportsTo  \
0      dmurphy@classicmodelcars.com          1        NaN
1    mpatterso@classicmodelcars.com          1     1002.0
2    jfirrelli@classicmodelcars.com          1     1002.0
3   wpatterson@classicmodelcars.com          6     1056.0
4      gbondur@classicmodelcars.com          4     1056.0
5         abow@classicmodelcars.com          1     1056.0
6    ljennings@classicmodelcars.com          1     1143.0
7    lthompson@classicmodelcars.com          1     1143.0
8    jfirrelli@classicmodelcars.com          2     1143.0
9   spatterson@classicmodelcars.com          2     1143.0
10      ftseng@classicmodelcars.com          3     1143.0
11     gvanauf@classicmodelcars.com          3     1143.0
12     lbondur@classicmodelcars.com          4     1102.0
13   ghernande@classicmodelcars.com          4     1102.0
14   pcastillo@classicmodelcars.com          4     1102.0
15       lbott@classicmodelcars.com          7     1102.0
16      bjones@classicmodelcars.com          7     1102.0
17     afixter@classicmodelcars.com          6     1088.0
18      pmarsh@classicmodelcars.com          6     1088.0
19       tking@classicmodelcars.com          6     1088.0
20      mnishi@classicmodelcars.com          5     1056.0
21       ykato@classicmodelcars.com          5     1621.0
22     mgerard@classicmodelcars.com          4     1102.0

                jobTitle
0              President
1               VP Sales
2           VP Marketing
3   Sales Manager (APAC)
4    Sale Manager (EMEA)
5     Sales Manager (NA)
6              Sales Rep
7              Sales Rep
8              Sales Rep
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             Sales Rep
16             Sales Rep
17             Sales Rep
18             Sales Rep
19             Sales Rep
20             Sales Rep
21             Sales Rep
22             Sales Rep

In [21]:
# Retrieve values of one specific column from csv file (ComputerSales.csv)
cs_df_state = pd.read_csv('data/ComputerSales.csv', usecols=["State"])
cs_df_state

   State
0     OH
1     WV
2     PA
3     PA
4     PA
5     PA
6     OH
7     OH
8     OH
9     WV
10    PA
11    OH
12    PA
13    PA
14    OH
15    PA
16    OH
17    NY
18    PA
19    NY
20    PA
21    PA
22    OH
23    WV
24    NY
25    PA
26    OH
27    PA
28    PA
29    WV
30    PA
31    OH
32    PA
33    OH
34    NY
35    NY
36    PA
37    PA
38    PA